@font-face {
    font-family: MontserratBold;
    src: url("./../../Assets/font/Montserrat-Bold.ttf");
  }
  
  @font-face {
    font-family: MontserratLight;
    src: url("./../../Assets/font/Montserrat-Light.ttf");
  }
  @font-face {
    font-family: MontserratMedium;
    src: url("./../../Assets/font/Montserrat/static/Montserrat-Medium.ttf")

  }
  
  @font-face {
    font-family: RubikMedium;
    src: url("./../../Assets/font/Rubik-Medium.ttf");
  }
  
  @font-face {
    font-family: RubikLight;
    src: url("./../../Assets/font/Rubik-Light.ttf");
  }
  @font-face {
    font-family: RubikRegular;
    src: url("./../../Assets/font/Rubik-Regular.ttf");
  }

  @font-face {
    font-family: AlegreyaSansBold;
    src: url("./../../Assets/font/Alegreya_Sans/AlegreyaSans-Bold.ttf");
  }
  



.LoginFormOuter{
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
}

.header{

font-family: "MontserratBold";
font-size: 30px;
}
.email label{
    font-family: "AlegreyaSansBold";
    font-size: 20px;
    color: #628d89;
}
.password label, .name label{
    font-family: "AlegreyaSansBold";
    font-size: 20px;
    color: #628d89;

}
.email input, .name input{
    margin-left: 42px !important;
}
.email, .password, .name
{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.email input, .password input, .name input{
    padding: 12px;
    width: 100%;
    border: none;
    border: 2px solid rgb(163, 161, 161);
    border-radius: 8px;
    margin-left: 12px;
    margin-top: 20px;
}

.loginBtnForm{
    background-color: #628d89;
    color: white;
    border: none;
    width: 50%;
    padding: 12px 0px;
    border-radius: 30px;
    margin-top: 23px;
    /* margin: auto; */
    margin-left: 26px;
}

.createNewAcc {
    font-family: "MontserratBold";
    color: black;
    font-size: 20px;
    text-decoration: none;

}

.login-form{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 30px;
}

.LoginPicture{
    width: 40%;
}

.LoginPicture img{
    width: 100%;
}

.formControl{
    margin-left: 88px;
    width: 33%;
}
.alreadyhaveAcc{
    font-family: "MontserratBold";
    color: black;
    font-size: 20px;
    text-decoration: none;
}
.loginBtnForm:hover{
    cursor: pointer;
}